* 
{
    margin: 0px;
    padding: 0px;
}

body 
{
    background-color: #051838;
}

iframe 
{
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 380px;
    transform: translateY(-50%);
    height: 500px;
}