@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap%27');
* {
    margin: 0px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 24px;
}

header
{
    color: red;
    font-size: 35px;
}
.color
{
    text-decoration: underline red; 
}

li:hover 
{
    color: #980000;
    display: block;
    
    
}

ul
{
    list-style: none;
    display: inline-block;

}

.down
{
    
    color: black;
    display: block;
    justify-content: left;
    margin-left: 40px;
    
}

li
{
    float:left;
    width: 150px;
    height: 65px;
    line-height: 65px;
    margin-left: -25px;
}

ul.down
{
    position: absolute;
    top: 100%
    left: 0%;
}

ul.down li
{
    display: none;
    
}

li:hover > ul.down li
 {
     display: block;
 }

.sous
{
    margin-left: -80px;
}
