header
{
    display: flex;
    justify-content: flex-end;
    background-color: gray;
    color: white;
    font-family: 'Courgette', cursive;
}

nav ul
{
	list-style-type: none;
    display: flex;
}

nav li
{
	margin-right: 25px;
}

h1
{
    font-family: 'Courgette', cursive;
}

h2
{
    text-align: center;
}

hr
{
    margin-bottom: 30px;
}

section
{
    border: 1px solid gray;
    margin-top: 10px;
}

/* ----- 1ER SECTION ----- */
#un
{
    display: flex;
    justify-content: center;
}

#text-un
{
    text-align: justify;
    width: 50%;
}

#poussin-un
{
    margin-top: 20px;
}

/* ----- 2EME SECTION ----- */
#deux
{
    display: flex;
    justify-content: center;
}

#text-deux
{
    text-align: justify;
    width:  50%;
}

#poussin-deux
{
    margin-top: 20px;
}


/* ----- 3EME SECTION ------ */
#trois
{
    display: flex;
    justify-content: center;
}

#text-trois
{
    text-align: justify;
    width: 50%;
}

#pic-trois
{
    float: left;
}


/* ----- PRINT ----- */
@media print {
    section {
        page-break-after: always;
    }
}