@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Mansalva', cursive;
}

body {
    background-color: black;
}

video {
    position: absolute;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    z-index: -1;
}

div {
    float: right;
    padding: 8%;
    color: white;
}

p {
    margin-top: 5%;
}

@media only screen and (max-width: 768px) {
    h1, p {
        font-size: 60%;
    }
div {
    margin-top: 10%;}
}